body {
  background-color: #E8E8E8;
}

#projectListing {
  overflow: auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px #CCCCCC;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  min-height: 200px;
}

#projectListingText {
  flex: 1;
  padding: 20px;
}

#projectListingDescription {
  margin-top: 20px;
}

#projectListingText h1 {
  margin: 0px 0px 2px 0px;
}

#projectListingText h3 {
  margin: 0px;
  font-weight: 100;
}

#projectListingImage {
  flex: 0 0 auto;
  padding: 20px;
  max-width: 50%;
}

/* Large desktop view - vertically center content */
@media (min-width: 1200px) {
  #projectListing {
    align-items: center;
  }
  
  #projectListingImage {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
}

.project_tags_container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project_tag {
  background-color: #ddd;
  color: #333;
  font-weight: 500;
  padding: 5px 8px 5px 8px;
  border-radius: 3px;
  margin-right: 12px;
  margin-bottom: 8px;
}

.project_link {
  color: #0066cc;
  text-decoration: none;
  font-weight: 500;
}

.project_link:hover {
  text-decoration: underline;
}
